* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    background-color: #e8432f;
  }
}
.btn-primary {
  background-color: #ff4d30;
  border: none;
  color: white;
}
